<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730645308307-41t2oofc409mordgj66gnm8ukso38qjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730645308307-41t2oofc409mordgj66gnm8ukso38qjl</string>
	<key>API_KEY</key>
	<string>AIzaSyCcKRp12sidX7Ri9_5iodPcqiz9O5ijxr4</string>
	<key>GCM_SENDER_ID</key>
	<string>730645308307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-b789f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-b789f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730645308307:ios:4a9303fb11460321bb7e66</string>
</dict>
</plist>